type backuptool, domain, coredomain;

userdebug_or_eng(`
    permissive backuptool;
')

neverallow { domain -update_engine -recovery} backuptool:process transition;
